.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  display: grid;
  grid-template-columns: 170px 170px;
  column-gap: 8px;
}
.left {
  place-self: start;
}
.right {
  place-self: start;
}
.totalLeft {
  place-self: start;
  border: 2px rgb(150, 149, 149) solid;
  border-top-style: none;
  padding: 4px;
  font-size: 12px;
  width: 150px;
  text-align: left;
  color: brown;
  background-color: rgb(250, 245, 245);
}
.totalRight {
  place-self: start;
  border: 2px rgb(150, 149, 149) solid;
  border-top-style: none;
  padding: 4px;
  font-size: 12px;
  color: brown;
  width: 150px;
  text-align: left;
  background-color: rgb(250, 245, 245);
}
